.intro{
    padding-top: 100px;
    width: 830px;
    gap: 20px;
}

.intro__title{
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    margin: 0;
}

.intro__text{
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    margin-top: 20px;
    letter-spacing: 0;
}

.intro__text_author{
    text-align: right;
}

.intro__text_description{
    font-size: 16px;
    font-weight: 400;
    line-height: 163%;
    letter-spacing: 0;
}