@import url(../vendor/fonts.css);
@import url(../vendor/normalize.css);
@import url(../blocks/header.css);
@import url(../blocks/main.css);
@import url(../blocks/lead.css);
@import url(../blocks/intro.css);
@import url(../blocks/footer.css);

@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 32px;
    max-width: 1200px;
    background-color: #2A2C2F;
    color: #fff;
}