@import url(../vendor/fonts.css);
@import url(../vendor/normalize.css);
@import url(../blocks/header.css);
@import url(../blocks/main.css);
@import url(../blocks/lead.css);
@import url(../blocks/intro.css);
@import url(../blocks/footer.css);

@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #2A2C2F;
    color: #ffffff;
    font-family: "Inter", sans-serif;
  }
  
  .page {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

.header,
.lead,
.intro,
.footer {
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
    .page {
        width: 768px;
        margin: 0 auto;
    }
}